<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="https://logging.apache.org/xml/ns"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="https://logging.apache.org/xml/ns
                                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <appenders>
        <Console name="CONSOLE">
            <PatternLayout header="%blue{[debug build ver:0.0.001]\n}"
                           footer="footer"
                           pattern="%cyan{%d{ABSOLUTE_MICROS}} [%t] %highlight{%5p} %24style{%c{1.}} - %m%n"/>
        </Console>
    </appenders>

    <loggers>
        <root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </root>
    </loggers>

</Configuration>